<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mw.middleware.mapper.RedisOperationMapper" >
    <select id="getRedisPojo" resultType="com.mw.middleware.bean.RedisPojo">
        select * from t_redis where name = #{name}
    </select>

    <insert id="insertRedisPojo" parameterType="com.mw.middleware.bean.RedisPojo">
        insert into t_redis(name, host, port, username, passwd) values(#{name}, #{host}, #{port}, #{username}, #{passwd})
    </insert>

    <update id="updateRedisPojo" parameterType="com.mw.middleware.bean.RedisPojo">
        update t_redis set name=#{name}, host=#{host}, port=#{port}, username=#{username}, passwd=#{passwd} where name=#{name}
    </update>

    <delete id="deleteRedisPojo" parameterType="com.mw.middleware.bean.RedisPojo">
        delete from t_redis where name=#{name}
    </delete>

    <select id="listRedisPojo" resultType="com.mw.middleware.bean.RedisPojo">
        select * from t_redis
    </select>
</mapper>