<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mw.middleware.mapper.RedisInfoMapper">
    <select id="selectAllRedisInfo" resultType="com.mw.middleware.bean.RedisInfo">
        select id, name, host, port, password from t_redis_info
    </select>

    <select id="selectRedisInfoById" parameterType="long" resultType="com.mw.middleware.bean.RedisInfo">
        select id, name, host, port, password from t_redis_info where id = #{id}
    </select>

    <insert id="insertRedisInfo" parameterType="com.mw.middleware.bean.RedisInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_redis_info(name, host, port, password) values (#{name}, #{host}, #{port}, #{password})
    </insert>

    <update id="updateRedisInfo" parameterType="com.mw.middleware.bean.RedisInfo">
        update t_redis_info set name = #{name}, host = #{host}, port = #{port}, password = #{password} where id = #{id}
    </update>

    <delete id="deleteRedisInfo" parameterType="long">
        delete from t_redis_info where id = #{id}
    </delete>
</mapper>
